/* 
This website is designed and coded by Shubham Prakash in Jan 2016.
Admin contact:
Facebook Page-  https://www.facebook.com/i-shubhamprakash
*/

* {
    font-family: Segoe UI Light;
    font-weight: normal;
}

body {
    font-family: Segoe UI Light;
    margin: 0;
}

/*UNIVERSAL TOP MENU BAR *********************************************/

div.topmenu {
    margin-top: 0;
}

div.topmenu ul {
    margin: 0;
    /*padding:5px; */
    width: 100%;
    position: fixed;
    background-color: rgba( 240, 50, 15, 0.95);
    z-index: 2;
    box-shadow: -7px 2px 20px #0f0e0e;
}

div.topmenu ul li {
    list-style-type: none;
    display: "block";
    float: left;
    text-align: center;
}

div.topmenu ul li a {
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 50px;
}

div.topmenu ul li a:hover {
    background-color: #1a1e27;
    color: darkorange;
    padding: 5px 50px 10px 50px;
    box-shadow: 5px 5px 15px black;
}

div.topmenu ul li a:active {
    background-color: #1a1e27;
    color: orange;
    box-shadow: 1px 1px 10px black;
}

/* HOME PAGE *********************************************************************************************/

.home {
    width: 100%;
    background-color: rgba(34, 45, 50, 1);
    color: white;
}

.home #logo {
    padding: 45px 0 0 45px;
    background-color: rgba( 15, 15, 15, 0.8);
    box-shadow: -2px 5px 15px black;
    color: aliceblue;
}

.home #logo img {
    float: left;
    margin-top: 10px;
    border-radius: 50%;
}

.home h1 {
    text-align: center;
    font-size: 100px;
    font-family: "algerian";
    padding-bottom: -10px;
    margin-top: 0;
    margin-bottom: 0;
}

.home h2 {
    text-align: center;
    color: darkorange;
    padding-bottom: 10px;
}

.home #welcomenote {
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 5px 5px 5px black;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    color:
}

.home #intro,
#technology,
#programming {
    float: left;
    padding: 1em;
    margin: 2em;
    font-size: 1.5em;
    background-image: url(bg3.jpg);
    background-repeat: repeat-y;
    box-shadow: 10px 10px 15px black;
    background-attachment: fixed;
}

.home #footer {
    box-shadow: -2px -5px 10px black;
    clear: both;
    background-color: rgba( 15, 15, 15, 0.8);
    color: darkgrey;
    font-weight: bold;
}

.home #credit {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: 500;
    color: coral;
}

.home #footer p {
    margin: 0 2em 0 2em;
    padding: 0.6em;
}

/********************************************************************************************/

/* GALLERY PAGE **********************************************/

body.gallery {
    background-color: rgba(34, 45, 50, 1);
    color: aliceblue;
}

.gallery .topmenu {
    margin-top: -4.2em;
}

.gallery h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    padding-top: 0.5em;
}

.gallery h2 {
    color: aquamarine;
}

.gallery p {
    font-size: 1.5em;
    margin: 10px;
}

.gallery ul.items {
    margin: 0;
    list-style-type: none;
    width: 100%;
}

.gallery .items li {
    width: 50%;
    height: 500px;
    padding: 0;
    margin: 1em 0 1.5em 0;
    float: left;
    display: "inline-block";
    font-size: 2em;
    font-weight: bold;
    color: darkorange;
}

.gallery video {
    width: 75%;
    height: 60%;
    box-shadow: 5px 5px 5px black;
}

/********************************************************************************************/

/* ABOUT PAGE***************************************************************************************/

body.about {
    background-color: rgba(34, 45, 50, 1);
    color: white;
    margin: 0;
    margin-top: -10px;
}

.about h1 {
    text-align: center;
    font-size: 100px;
    font-weight: normal;
    padding: 0;
    padding-top: 50px;
}

.about p {
    color: navajowhite;
    font-size: 1.3em;
    margin: 20px;
}

.about h1,
h2,
h3 {
    margin: 10px;
}

.about h2 {
    font-size: 2.3em;
    color: darkorange;
}

.about a {
    color: white;
    text-decoration: none;
}

.about img {
    padding: 2em;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 50%;
    /* To show pics in circular view */
    box-shadow: 10px 10px 20px 10px black;
}

.about #h {
    padding-top: 5em;
}

.about #h2 {
    padding-top: 1.5em;
}

.about #h4 {
    padding-top: 4em;
}

.about #p1 {
    padding-top: 5em;
    padding-bottom: 6em;
    padding-right: 2em;
}

.about #p2,
#p3 {
    padding-top: 4em;
}

.about #p3 {
    padding-bottom: 8em;
}

.about #p4 {
    padding-top: 5em;
}

.about #h5 {
    padding-top: 0;
}

.about #h6 {
    padding-top: 3.5em;
}

.about #p6,
#p8 {
    padding-bottom: 3em;
}

.about #p9 {
    padding-top: 2em;
}

.about #p11 {
    padding-bottom: 5em;
}

.about #h9 {
    padding-top: 2em;
}

.about #p12 {
    padding-top: 4em;
}

.about #p13 {
    padding-bottom: 5em;
}

.about video {
    z-index: -2;
}

/* To avoid overlapping of controm with top menu */

/********************************************************************************************/

/**** CONTACT PAGE *********************************************/

.contact .topmenu {
    margin-top: -4.19em;
}

body.contact {
    background-color: rgba(34, 45, 50, 1);
    color: white;
}

.contact h1 {
    text-align: center;
    font-size: 100px;
    padding-top: 0.5em;
}

.contact #contactinfo {
    text-align: center;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
    margin: 0px;
    float: left;
    width: 50%;
    background-color: maroon;
    box-shadow: 10px 10px 10px black;
    color: white;
}

.contact #input {
    font-size: 30px;
    float: right;
    width: 45%;
    color: darkorange;
    font-weight: bold;
}

.contact form #name,
#email,
#message {
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    height: 25px;
    border-width: ;
}

.contact #message {
    border-width: 50%;
    height: 60px;
    font-size: 18px;
}

/********************************************************************************************/